
version: 3.0.43.{build}
image:
  - Ubuntu2004
  - Visual Studio 2019
pull_requests:
  do_not_increment_build_number: true
clone_depth: 1
for:
-
  matrix:
    except:
      - image: Visual Studio 2019
  environment:
    VCPKG_LIBS: boost-iostreams boost-filesystem boost-system boost-property-tree boost-locale zlib
    DEPLOY_PLATFORM_ID: ubuntu
  init:
  - export CXX=g++-9 CC=gcc-9
  - if [ ! -d ../vcpkg ]; then git clone https://github.com/microsoft/vcpkg.git ../vcpkg ; fi
  - "(cd ../vcpkg && git pull && ./bootstrap-vcpkg.sh)"
  - export VCPKG_DIR=`dirname $(pwd)/../vcpkg/vcpkg`
  install:
  #- sudo apt update -q -y
  - sudo apt install -y debhelper build-essential devscripts fakeroot
  - ../vcpkg/vcpkg install ${VCPKG_LIBS}
  build_script:
  - mkdir build && cd build && cmake -DCMAKE_TOOLCHAIN_FILE="${VCPKG_DIR}/scripts/buildsystems/vcpkg.cmake" ..
  - cmake --build . --config Release
  - cd ..
  cache:
  - ../vcpkg/installed
  after_build:
  - cd build && ../package/deb/builddeb.sh && cd ..
  artifacts:
  - path: v8unpack*.deb

-
  matrix:
    only:
      - image: Visual Studio 2019
  environment:
    VCDIR: C:\Program Files\Misc\VS\2019\BuildTools\VC\Auxiliary\Build
    DEPLOY_PLATFORM_ID: win
  install:
  - ps: choco install boost-msvc-14.2
  - cmd: appveyor DownloadFile https://github.com/madler/zlib/archive/v1.2.11.zip -FileName zlib-1.2.11.zip && 7z x zlib-1.2.11.zip && cd zlib-1.2.11 && md build && cd build && cmake -DCMAKE_POLICY_VERSION_MINIMUM=3.5.0 -DCMAKE_SHARED_LINKER_FLAGS=/NODEFAULTLIB:MSVCRT -DCMAKE_C_FLAGS_RELEASE=/MT /O2 /Ob2 /D NDEBUG .. && cmake --build . --config Release --target zlibstatic && copy zconf.h .. && cd C:\projects\v8unpack
  build_script:
  - mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Release .. && cmake --build . --config Release && cd ..
  after_build:
  - cmd: >-
      SET PATH=%PATH%;"C:/Program Files (x86)/WiX Toolset v3.11/bin"
      copy Release\v8unpack.exe package
      copy LICENSE package
      copy README.md package
      cd package
      candle v8unpack.wxs
      light -out v8unpack-%APPVEYOR_BUILD_VERSION%.msi v8unpack.wixobj
      choco pack
  artifacts:
  - path: Release\*.exe
    name: v8unpack.exe
  - path: package\v8unpack*.nupkg
    name: v8unpack.nupkg
  - path: package\v8unpack-*.msi
    name: v8unpack.msi
