version: 3.0.{build}

# --- MATRIX: 2 ОС ---
image:
  - Ubuntu1604

# --- ПРАВИЛО: Глубина клонирования ---
clone_depth: 1

# --- ОБЩИЕ НАСТРОЙКИ ---
pull_requests:
  do_not_increment_build_number: true

# -----------------------------
# PLATFORM-SPECIFIC CONFIG
# -----------------------------
build: off

for:

# ==========================================================
# ===============   LINUX UBUNTU BUILD   ====================
# ==========================================================

-
  matrix:
    only:
      - image: Ubuntu1604
  init:
    - export CXX=g++-9 CC=gcc-9

  install:
    - sudo apt-get update
    - sudo apt-get install -y \
        libboost-filesystem-dev \
        libboost-iostreams-dev \
        libboost-system-dev \
        zlib1g-dev \
        debhelper \
        build-essential \
        devscripts \
        fakeroot

  build_script:
    # Сборка CMake (Release)
    - cmake -B build -S . -DCMAKE_BUILD_TYPE=Release
    - cmake --build build --config Release

  test_script:
    - ctest --test-dir build --output-on-failure || true

  after_build:
    # Генерация DEB пакета
    - debuild -us -uc
    - mv ../v8unpack*.deb .

  artifacts:
    - path: build/v8unpack
      name: v8unpack-linux
    - path: v8unpack*.deb
      name: installer-deb

deploy: off
