version: 3.0.43.{build}
image:
  - Visual Studio 2019
  - Ubuntu2004
pull_requests:
  do_not_increment_build_number: true
clone_depth: 1
for:
-
  matrix:
    only:
      - image: Visual Studio 2019
  environment:
    VCDIR: C:\Program Files\Misc\VS\2019\BuildTools\VC\Auxiliary\Build
    DEPLOY_PLATFORM_ID: win
    VCPKG_LIBS: boost-iostreams boost-filesystem boost-system boost-property-tree boost-locale zlib
    matrix:
    #- ARCH: x86
    #  BUILD_PLATFORM: Win32
    - ARCH: x64  
      BUILD_PLATFORM: x64    
  install:
  - cmd: if not exist "C:\vcpkg" git clone https://github.com/microsoft/vcpkg.git C:\vcpkg
  - cmd: cd C:\vcpkg && if exist ".git\HEAD" git pull && bootstrap-vcpkg.bat && set VCPKG_ROOT=%cd%
  #- cmd: cd ..\vcpkg && vcpkg install boost-iostreams boost-filesystem boost-system boost-property-tree boost-locale zlib --triplet x86-windows
  - cmd: cd C:\vcpkg && vcpkg install boost-iostreams boost-filesystem boost-system boost-property-tree boost-locale zlib --triplet x64-windows

  build_script:
  - set VCPKG_ROOT=C:\vcpkg
  - mkdir build && cd build && cmake -DCMAKE_TOOLCHAIN_FILE="%VCPKG_ROOT%\scripts\buildsystems\vcpkg.cmake" -DCMAKE_BUILD_TYPE=Release "%APPVEYOR_BUILD_FOLDER%" && cmake --build . --config Release && cd ..
  cache:
  - C:\Tools\vcpkg\installed
  after_build:
  - cmd: SET PATH=%PATH%;"C:/Program Files (x86)/WiX Toolset v3.11/bin"
  - cmd: mkdir package 2>nul
  - cmd: copy build\Release\v8unpack.exe package\
  - cmd: cd package
#  - cmd: copy LICENSE package  
#  - cmd: copy README.md package 
#  - cmd: copy v8unpack.nuspec package 
#  - cmd: candle v8unpack.wxs 
#  - cmd: light -out v8unpack-%APPVEYOR_BUILD_VERSION%.msi v8unpack.wixobj 
#  - cmd: choco pack
  artifacts:
    # v8unpack.vcxproj -> C:\projects\vcpkg\build\Release\v8unpack.exe
  - path: package/*.exe
    name: v8unpack.exe
#  - path: package/v8unpack*.nupkg
#    name: v8unpack.nupkg
#  - path: package/v8unpack-*.msi
#    name: v8unpack.msi
-
  matrix:
    except:
      - image: Visual Studio 2019
  environment:
    VCPKG_LIBS: boost-iostreams boost-filesystem boost-system boost-property-tree boost-locale zlib
    DEPLOY_PLATFORM_ID: ubuntu
  init:
  - export CXX=g++-9 CC=gcc-9
  - if [ ! -d ../vcpkg ]; then git clone https://github.com/microsoft/vcpkg.git ../vcpkg ; fi
  - "(cd ../vcpkg && git pull && ./bootstrap-vcpkg.sh)"
  - export VCPKG_DIR=`dirname $(pwd)/../vcpkg/vcpkg`
  install:
#- sudo apt update -q -y
  - sudo apt install -y debhelper build-essential devscripts fakeroot
  #- ../vcpkg/vcpkg install boost-iostreams boost-filesystem boost-system boost-property-tree boost-locale zlib --triplet x64-linux
  - ../vcpkg/vcpkg install --triplet x64-linux
  build_script:
  - mkdir build && cd build && cmake -DCMAKE_TOOLCHAIN_FILE="${VCPKG_DIR}/scripts/buildsystems/vcpkg.cmake" ..
  - cmake --build . --config Release
  - cd ..
  cache:
  - ../vcpkg/installed
  after_build:
  - cd build && ../package/deb/builddeb.sh && cd ..
  artifacts:
  - path: v8unpack*.deb
  deploy:
    - provider: GitHub
      auth_token:
        secure: M4AKfJ+7WFZy9EWrSbiY+eganFrT1sQ2a1ZWK5RtV6Id84ZCZYu6jfhKuT26AM8P # Replace with actual encrypted token
      artifact: /v8unpack-.*\.deb$/
      draft: false
      prerelease: false
      on:
        b bnchncm:ster # Dep oy on mamter branch for tastingster # Deploy on master branch for testing
